In [3]:
a = list()
a.append(12)
a.append(35)
a.append(9)
a.append(56)
a.append(24)
print(a)
a[0]=24
a[4]=12
print(a)

[12, 35, 9, 56, 24]
[24, 35, 9, 56, 12]

In [5]:
a = list()
a.append(1)
a.append(2)
a.append(3)
print(a)
a[0]=3
a[1]=2
a[2]=1
print(a)

[1, 2, 3]
[3, 2, 1]

In [7]:
list=[1,4,5,7,8]
print(len(list))

5

In [10]:
a=[]
a.append('Geeks')
a.append('Are')
a.append('For')
a.append('Geeks')
b = len(a)
print("The length of the list is ",b)

The length of the list is  4

In [16]:
#Print Max and Min
a = float(input('Enter 1st no '))
b = float(input('Enter 2nd no '))
print(max(a,b))
print(min(a,b))

Enter 1st no 10
Enter 2nd no 2
10.0
2.0