In [1]:
#Addition
x = 7
y = 10
print(x+y)

17

In [2]:
#subtraction
print(5-5)

0

In [3]:
#Multiplication
print(5*3)

15

In [4]:
#Division
print(10/2)

5.0

In [5]:
#Remainder
print(18%7)

4

In [6]:
#Square
print(4**2)

16

In [7]:
#Simple Interest
p=5000
r=0.07
t=5
SI=int(p*r*t)
TI=int(p+SI)
print('Interest Earned=', SI)
print('Total Amount=', TI)

Interest Earned= 1750
Total Amount= 6750

In [8]:
p=8000
r=0.087
SI=4872
t=int(SI/(p*r))
print("Time taken in years=",t)

Time taken in years= 7

In [12]:
p=3000
t=4
SI=768
r=float(SI/(p*t))
print('The Rate of interest will be=',r)

The Rate of interest will be= 0.064

In [22]:
#Time after 7 years
print('Amount after 7 years=', (100*(1.1)**7))

Amount after 7 years= 194.87171000000012

In [24]:
savings=100
growth_multiplier=0.1
t=7
result=float(savings*(1+growth_multiplier)**t)
print('savings')
print('Amount after 7 years=',result)

savings
Amount after 7 years= 194.87171000000012

In [25]:
#Create a variable desc
desc='Compound Interest'
#Create a new variable profitable 
profitable=bool(True)
A=10.7
B='This is python course'
C=False
#Checking the type of variable
print(type(profitable))
print(type(desc))
print(type(A))
print(type(B))
print(type(C))

<class 'bool'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [33]:
savings=100
growth_multiplier=1.1
desc='Compound Interest'
year1=(savings*growth_multiplier)
#Type of year1
print(year1, type(year1))
#Assign sum of desc and desc to doubledesc
doubledesc=(desc+desc)
print(doubledesc)

110.00000000000001 <class 'float'>
Compound InterestCompound Interest

In [36]:
#For changing the type of variable
savings=str(100)
result=str(100*1.1**7)
print("I started with $" + savings + " and now have $" + result + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [38]:
pi_string="3.1415926"
#Convert pi_string into float
pi_float=float(pi_string)
#Multiply by 2 to save the value in a new variable double_pi
double_pi=2*pi_float
print(double_pi)

6.2831852

In [51]:
print('I can add integers, like ' + str(5) + ' to strings.')
print('I said '+ ('Hey'*2) + 'Hey!')
print('The correct answer to this multiple choice exercise is answe number '+ 2)
True+False
#Statement 3 will show a error

I can add integers, like 5 to strings.
I said HeyHeyHey!

TypeError: can only concatenate str (not "int") to str

In [50]:
True+False

1

In [53]:
#To check if the number is even or not
x=float(input('Enter any number:'))
if x%2==0:
    print('The no entered by you ', x,' is even' )
else:
    print('The no entered by you ', x, ' is odd')

Enter any number:5
The no entered by you  5.0  is odd

In [1]:
#to convert degree centigrade into Fahrenheit
celsius = float(input('Enter temperature in Celsius: '))
#Conversion of celsius to fahrenheit
fahrenheit = (celsius*1.8)+32
print(fahrenheit)

Enter temperature in Celsius: 50
122.0

In [7]:
#Finding area of a triangle whose sides are given
a=4
b=3
c=6
s=(a+b+c)/2
import math
Area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print("Area of triangle is ", Area)

Area of triangle is  5.332682251925386

In [10]:
#to find the circumference and area of a circle with a given radius.
r=float(input('Enter radius of circle '))
c=2*math.pi*r
a=math.pi*r**2
print('Area of circle is ', a)
print('Circumference of circle is ', c)

Enter radius of circle 5
Area of circle is  78.53981633974483
Circumference of circle is  31.41592653589793

In [14]:
a=float(input('Enter any number:'))
if a%5==0:
    print('It is a multiple of ', 5)
else:
    print('It is not a multiple of ', 5)

Enter any number:5
It is a multiple of  5